<div class="container py-5 w-100">
  <div class="row h-200">
    <h3>Add to <strong><%= @list.name %></strong></h3>
    <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, prompt: 'Select a movie' %>
    <%= f.submit class: 'btn btn-info w-100 mt-3' %>
    <% end %>
  </div>
</div>
</div>
</div>
